body {
    background-color: #2C2F33;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7289DA; /* Discord color */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

header h1 {
    margin: 0;
}

header input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 200px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.video-item {
    margin: 10px;
    text-align: center;
}

.video-item iframe {
    width: 320px;
    height: 180px;
    border-radius: 10px;
}

.video-item p {
    margin-top: 10px;
    font-size: 16px;
}
